$bg-primary: #65C363;
$bg-secondary: #64D9E3;

$text-primary: #262626;
$text-secondary: #ececec;
$text-light: #ff00ff;

$primary-color: AliceBlue;
$primary-border: #B0B0B0;
$hover-color: #ececec;
$hover-border: #B0B0B0;
$active-color: #ACACAC;
$active-border: Gray;
$danger-color: Firebrick;
$darkdanger-color: DarkRed;
$shadow-color: #26262681;
$shadow-secondary: #eeeeeeaf;


$red-background: #E74C3C;
$red-border: #943126;
$red-text: $red-background;
$blue-background: #3498DB;
$blue-border: #21618C;
$blue-text: $blue-background;

$success-primary: #94D34A;
$success-secondary: #6F9E37;
$success-transparent: #0014B022;
